*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    // background: hsl(230, 17%, 14%);
    // padding: 5% 10%;

    header{
        display: flex;
        justify-content: space-between;
        height:150px ;
        background: hsl(230, 17%, 14%);
        padding: 5% 10%;
        .titel{
            color: hsl(0, 0%, 100%);

        }
        .mode{
            color: hsl(0, 0%, 100%);
            display: flex;
            align-items: center;
            .toggle{
                margin-left: 5px;
                width: 50px;
                height: 20px;
                background-image: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%)) ;
                border-radius: 20px;
            }
        }
    }
}